In [77]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [78]:
df = pd.read_csv("data_sets/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [79]:
df.drop([
    "PassengerId","SibSp","Parch","Ticket","Fare","Cabin","Embarked", "Name"
], axis=1, inplace=True)
df.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [80]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
sex_le = le.fit_transform(df.Sex)
df.Sex = sex_le
df.head()

   Survived  Pclass  Sex   Age
0         0       3    1  22.0
1         1       1    0  38.0
2         1       3    0  26.0
3         1       1    0  35.0
4         0       3    1  35.0

In [81]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
dtype: int64

In [82]:
df["Age"].fillna(df.Age.mean(), inplace=True)
df.isnull().sum()

/tmp/ipykernel_66163/1787807479.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df.Age.mean(), inplace=True)

Survived    0
Pclass      0
Sex         0
Age         0
dtype: int64

In [83]:
X = df.drop("Survived", axis=1)
y = df.Survived

In [84]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [85]:
print(len(X_train))
print(len(X_test))

712
179

In [86]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [87]:
model.fit(X_train, y_train).score(X_test, y_test)

0.7932960893854749

In [ ]:
y_ped = model.predict(X_test)
y_ped

array([1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 1])

In [89]:
model.predict_proba(X_test)

array([[0.17436838, 0.82563162],
       [0.92654354, 0.07345646],
       [0.92384301, 0.07615699],
       [0.04805379, 0.95194621],
       [0.58586833, 0.41413167],
       [0.63580415, 0.36419585],
       [0.26016709, 0.73983291],
       [0.90302115, 0.09697885],
       [0.04858293, 0.95141707],
       [0.22119397, 0.77880603],
       [0.92384301, 0.07615699],
       [0.91461192, 0.08538808],
       [0.22119397, 0.77880603],
       [0.04530266, 0.95469734],
       [0.08194268, 0.91805732],
       [0.63696278, 0.36303722],
       [0.91755587, 0.08244413],
       [0.16426906, 0.83573094],
       [0.57732369, 0.42267631],
       [0.26016709, 0.73983291],
       [0.92227166, 0.07772834],
       [0.60658501, 0.39341499],
       [0.92227166, 0.07772834],
       [0.92384301, 0.07615699],
       [0.92009963, 0.07990037],
       [0.86271574, 0.13728426],
       [0.9093717 , 0.0906283 ],
       [0.15015502, 0.84984498],
       [0.26016709, 0.73983291],
       [0.04883136, 0.95116864],
       [0.26016709, 0.73983291],
       [0.63521561, 0.36478439],
       [0.83585105, 0.16414895],
       [0.85490255, 0.14509745],
       [0.04247289, 0.95752711],
       [0.9129797 , 0.0870203 ],
       [0.91461192, 0.08538808],
       [0.24392995, 0.75607005],
       [0.9093717 , 0.0906283 ],
       [0.86114194, 0.13885806],
       [0.92384301, 0.07615699],
       [0.9129797 , 0.0870203 ],
       [0.22119397, 0.77880603],
       [0.0434661 , 0.9565339 ],
       [0.83097619, 0.16902381],
       [0.0487177 , 0.9512823 ],
       [0.14422271, 0.85577729],
       [0.92766683, 0.07233317],
       [0.92559307, 0.07440693],
       [0.92838308, 0.07161692],
       [0.14742729, 0.85257271],
       [0.61052285, 0.38947715],
       [0.62994141, 0.37005859],
       [0.92861931, 0.07138069],
       [0.85642659, 0.14357341],
       [0.04612197, 0.95387803],
       [0.04206984, 0.95793016],
       [0.15330174, 0.84669826],
       [0.23693593, 0.76306407],
       [0.84257863, 0.15742137],
       [0.15082886, 0.84917114],
       [0.09377372, 0.90622628],
       [0.83714627, 0.16285373],
       [0.63194669, 0.36805331],
       [0.92384301, 0.07615699],
       [0.63911544, 0.36088456],
       [0.9240961 , 0.0759039 ],
       [0.85905459, 0.14094541],
       [0.92595526, 0.07404474],
       [0.04206984, 0.95793016],
       [0.61940943, 0.38059057],
       [0.9129797 , 0.0870203 ],
       [0.15409811, 0.84590189],
       [0.85905459, 0.14094541],
       [0.60658501, 0.39341499],
       [0.04505356, 0.95494644],
       [0.27247408, 0.72752592],
       [0.92622403, 0.07377597],
       [0.04055316, 0.95944684],
       [0.57478529, 0.42521471],
       [0.85598302, 0.14401698],
       [0.92853759, 0.07146241],
       [0.62631721, 0.37368279],
       [0.84732139, 0.15267861],
       [0.15238214, 0.84761786],
       [0.86016454, 0.13983546],
       [0.1793675 , 0.8206325 ],
       [0.14056926, 0.85943074],
       [0.14588295, 0.85411705],
       [0.4610393 , 0.5389607 ],
       [0.86305418, 0.13694582],
       [0.15588909, 0.84411091],
       [0.13649888, 0.86350112],
       [0.92227166, 0.07772834],
       [0.13431833, 0.86568167],
       [0.91461192, 0.08538808],
       [0.92384301, 0.07615699],
       [0.92384301, 0.07615699],
       [0.91123462, 0.08876538],
       [0.85721689, 0.14278311],
       [0.92129443, 0.07870557],
       [0.15504971, 0.84495029],
       [0.73159486, 0.26840514],
       [0.92384301, 0.07615699],
       [0.63702355, 0.36297645],
       [0.9093717 , 0.0906283 ],
       [0.92227166, 0.07772834],
       [0.9240961 , 0.0759039 ],
       [0.92009963, 0.07990037],
       [0.91694225, 0.08305775],
       [0.52287224, 0.47712776],
       [0.92862239, 0.07137761],
       [0.92559307, 0.07440693],
       [0.63911544, 0.36088456],
       [0.91123462, 0.08876538],
       [0.92384301, 0.07615699],
       [0.04789331, 0.95210669],
       [0.92384301, 0.07615699],
       [0.0438328 , 0.9561672 ],
       [0.62871187, 0.37128813],
       [0.62282452, 0.37717548],
       [0.92384301, 0.07615699],
       [0.15599657, 0.84400343],
       [0.15075956, 0.84924044],
       [0.92384301, 0.07615699],
       [0.12474059, 0.87525941],
       [0.14245019, 0.85754981],
       [0.13649888, 0.86350112],
       [0.92488441, 0.07511559],
       [0.9272595 , 0.0727405 ],
       [0.14742729, 0.85257271],
       [0.59317404, 0.40682596],
       [0.26016709, 0.73983291],
       [0.58586833, 0.41413167],
       [0.23693593, 0.76306407],
       [0.92529026, 0.07470974],
       [0.04741375, 0.95258625],
       [0.91887589, 0.08112411],
       [0.90527082, 0.09472918],
       [0.14742729, 0.85257271],
       [0.26016709, 0.73983291],
       [0.84503342, 0.15496658],
       [0.92384301, 0.07615699],
       [0.92227166, 0.07772834],
       [0.92009963, 0.07990037],
       [0.84503342, 0.15496658],
       [0.62282452, 0.37717548],
       [0.85642659, 0.14357341],
       [0.85905459, 0.14094541],
       [0.91123462, 0.08876538],
       [0.26016709, 0.73983291],
       [0.82759787, 0.17240213],
       [0.92384301, 0.07615699],
       [0.92275951, 0.07724049],
       [0.9129797 , 0.0870203 ],
       [0.04055316, 0.95944684],
       [0.9129797 , 0.0870203 ],
       [0.9093717 , 0.0906283 ],
       [0.56882934, 0.43117066],
       [0.6375043 , 0.3624957 ],
       [0.92559307, 0.07440693],
       [0.23693593, 0.76306407],
       [0.72884043, 0.27115957],
       [0.91887589, 0.08112411],
       [0.85598302, 0.14401698],
       [0.82759787, 0.17240213],
       [0.92384301, 0.07615699],
       [0.92384301, 0.07615699],
       [0.926779  , 0.073221  ],
       [0.92384301, 0.07615699],
       [0.26016709, 0.73983291],
       [0.92384301, 0.07615699],
       [0.92384301, 0.07615699],
       [0.73018093, 0.26981907],
       [0.12474059, 0.87525941],
       [0.15082886, 0.84917114],
       [0.62282452, 0.37717548],
       [0.20806989, 0.79193011],
       [0.04568206, 0.95431794]])